.DS_Store
**/*.log

hyper-pen-service/hyper-pen-service
hyper-pen-service/hyper-pen-service.exe
hyper-pen-service/hyper-pen.db
hyper-pen-service/go.sum
 
hyper-pen-ui/node_modules/
hyper-pen-ui/dist/
hyper-pen-ui/dist.tar.gz
hyper-pen-ui/dist.zip
hyper-pen-ui/npm-debug.log*
hyper-pen-ui/yarn-debug.log*
hyper-pen-ui/yarn-error.log*

hyper-pen-ui/tests/**/coverage/
hyper-pen-ui/tests/e2e/reports
hyper-pen-ui/selenium-debug.log
hyper-pen-ui/package-lock.json
hyper-pen-ui/yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
